<style>
    body {
        background: #212121;
        color: #DCDCDC;
    }

    .css-h1-title {
        color: #FFB300;
    }

    /* teste  */

    td {
        background: #2B2B2B;
    }

    td input[type=text] {
        background: #212121;
        color: #DCDCDC;
    }

    select {
        background: #2B2B2B;
        color: #FFB300;
    }

    li::marker{
        color: #FFB300;
    }

    li:hover {
        color: #FFB300;
    }

    th {
        background: #2B2B2B;
    }

    textarea {
        background: #212121;
        color: #DCDCDC;
    }

    p input[type=button] {
        background: #FFB300;
        color: #2B2B2B;
    }

    p input[type=button]:hover {
        background: #fd3 !important;
        color: #212121;
    }



</style>
